ul li{list-style: none;}
/*资产领用列表*/
.collar_table td{
	vertical-align: middle;
}
.list_number{
	width: 16px;
	height: 16px;
	color: #475764;
	border: 1px solid #e6ecf1;
	border-radius: 50%;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
}
/*领用单详情*/
.single_box{
	margin-top: 30px;
}
.single_box td{
	border: 1px solid #d3dbe6;
}

.collar_num{
	background: #377AF2;
	color: #fff;
	font-size: 12px;
	padding-top:5px;
	border-radius: 50%;
	padding: 0 5px;
}
.nav_list{
	padding: 0 10px;
}
/*填写领出单*/
.tab_delete{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fc6054;
	border: none;
	font-size: 12px;
	text-align: center;
	color: #fff;
	line-height: 11px;
}
.choice_assets{
	width: 100px;
	height: 24px;
	background: #f1f8fe;
	border: 1px solid #377AF2; 
	color: #377AF2;
	text-align: center;
	border-radius: 20px;	
	margin-top: 20px;
	cursor: pointer;
}

.handle_num{
	margin-left: 20px !important;
}
/*借用单*/
.current_state{
	color: #fff;
	padding: 0 10px;
	font-size: 12px;
	border-radius: 30px;
}
/*确定调入按钮*/
.enter_conf{
	/*width: 65px;*/
	font-size: 12px;
	text-align: center;
	padding: 1px 20px;
	border: 1px solid #377AF2;
	color: #377af2;
	border-radius: 20px;
}
.height_50{
	height: 50px;
	line-height: 33px;
}
/*资产编码规则设置*/
.rule_setting{
	color: #666;
	margin-bottom: 30px;
}
.checkbox_box{
	width: 230px;
	float: left;
	margin-top: 10px;
}
.meet_type_box{
	width: 150px;
	float: left;
	margin-top: 10px;
}
.meet_type_box label{
	cursor: pointer;
}
.meet_type_box input{
	margin-right: 5px;
}
/*请假申请*/
.radio_box{
	width: 140px;
	float: left;
	margin-top: 10px;
}
.radio_box span{
	margin-left: 5px;
}
/*.leave_text{padding-bottom: 40px !important; }*/
/*.leave_text textarea{margin-top: 30px;}*/
/*请假审批*/
.flow_box{width: 140px;height: 110px;float: left;position: relative;z-index: 99;}
.flow_box:after{
	content: "";
	position: absolute;
	left: 45%;
	top: 32.5px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	z-index: -1;
}
.green1:after{
	border-color: green;
}
.blue1:after{
	border-color: blue;
}
.deep_hui1:after{
	border-color: #d3dbe6 ;
}
.flow_box:last-child:after{
	display: none;
}
.flow_box .flow_type{width: 45px;height: 45px;line-height: 45px;font-size: 12px;margin: 10px 0 10px 47px;}
/*发起申请*/
.apply_box{
	position: relative;
}
.apply_box:after{
	content: "";
	position: absolute;
	top: 5px;
	bottom: 34px;
	left: 22.5px;
	border-left: 1px solid #d3dbe6;
	z-index: -1;
}
.apply_box li{padding-bottom: 20px;clear: both;}
.apply_box li:hover .apply_span{background: #4176F6;}
.apply_title{font-weight: bold;}
.apply_content{width: 140px;height: 25px;border: 1px solid #d3dbe6;line-height: 25px;text-align: center;border-radius: 30px;color: #475669;margin: 30px 0px 20px 30px;float: left;}
.apply_content:hover{border-color: #377af2;color: #377AF2;cursor: pointer;}
.apply_content.active{border-color: #377af2;color: #377AF2;cursor: pointer;}
.apply_span{width: 6px;height:6px;background:#d3dbe6;margin-right: 30px;font-size: 20px;float: left;border-radius: 50%;margin-top: 5px;}
.content .next_step_box{width: 100%;height: 200px;clear: both;border-top: 1px solid #A0A0A0;padding: 60px 0 0 50px;margin-top: 85px;}
.content .next_step_box .next_step{width: 185px;height: 35px;background: #497EEA;color: #fff;text-align: center;line-height: 35px;border-radius: 35px;}
/*.apply_content:hover .apply_span{background: #377AF2;}*/
/*信息审核*/
.inform_content{margin:5px 5px 30px 5px;}
