.title_box .button{
	cursor: pointer;
}
.title_box .select_fulei{
	width: 120px;
}
.title_box .select_fulei:hover{
	background-color: inherit;
}
.title_box .select_fulei > select{
	display: block;
	width: 100%;
}

.table_edit .height{
	position: relative;
}
/*.table_edit .height:after{
	content: "";
	position: absolute;
	top: 5%;
	bottom: 5%;
	left: 45%;
	border-left: 1px solid #CCCCCC;
}*/

.table_edit .height tr{
	position: relative;
}
.table_edit .height tr td{
	position: relative;
}
.table_edit thead tr td .step-point{
	position: static;
	display: inline-block;
}
.table_edit .height tr td .step-point{
	position: static;
	display: inline-block;
}
.table_edit .height tr td:first-child{
	color: #D7DFEA;
}
.table_edit .height tr td:first-child:after{
	content: "";
	display: block;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 49%;
	border-left: 1px solid #CCCCCC;
	z-index: -1;
}
.table_edit .height tr:first-child td:first-child:after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	bottom: 0%;
	left: 49%;
	border-left: 1px solid #CCCCCC;
	z-index: -1;
}
.table_edit .height tr:last-child td:first-child:after{
	content: "";
	display: block;
	position: absolute;
	top: 0%;
	bottom: 50%;
	left: 49%;
	border-left: 1px solid #CCCCCC;
	z-index: -1;
}