.type_box{
	width: 90%;
	/*height: 210px;*/
	border-bottom: 1px solid #d3dbe6;
	margin: 0 auto;
	padding-bottom: 60px;
	
}
.type_box .circular{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #377AF2;
	/*margin-top: 6px;*/
}
.type_box .choice_text{
	margin-left: 30px;
	font-size: 16px;
	font-weight: bold;
	margin-top: -6px;
}
.type_box .option_box{
	width: 75%;
	padding-top: 50px;
	border-left: 1px solid #D3DBE6;
	padding-left: 30px;
	margin-left: 4px;
}
.option_box .category_name{
	width: 120px;
	height: 25px;
	border: 1px solid #d3dbe6;
	border-radius: 30px;
	text-align: center;
	float: left;
	margin: 0 25px 25px 0;
}
