.equipment li{
	float:left;
	list-style: none;
	width: 100px;
}

.table_inpt{
	width: 80% !important;
	float: left
}
.examine{
	float:left;
}
.read{
	margin:20px 0px 0px 0px;
}
.column{
	float:right;
	margin-top:-70px;	
}
.result{
	margin-bottom:20px ;
	margin-left:-32px;
}
.border{
	border-radius: 50px;
	border-color:blue;
	text-align:center;
}
.cl .reset{
	margin-right:60px ;
	
}
.add_table .underline{
	border:none;
}

.add_table .input{
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #CCCCCC;
	outline: none;
	box-shadow:none;
	padding: 0px;
	padding-bottom: 6px;
}
.add_table .input.date{
	font-size: 12px;
}

.head_portrait{
	position: relative;
}
.box_content .jia{
	position: absolute;
	bottom: 55px;
    right: 20px;
	width: 22px;
	height: 22px;
}
.box_content .person_left .head_portrait .jia img{
	display: block;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.rela{
	position: relative;
	vertical-align: middle !important;
}
.rela a{
	cursor: pointer;
}
.absolute{
	position: absolute;
	left: 100%;
	margin-left: 10px;
	top: 40%;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	}
.r{
	float:right;
}
.first{
	text-indent: 1cm;
}

.to .borderr{
	border-radius: 50px;
}
.cont_box .boxx{
	padding-top:0px;
	
}

.add_table  .type_box{
	margin:0px 20px;
}
.box_content_box{
	margin:0px 120px;
}
.ysbg{
	background-color:#F5F5F5;
}
.ysbg input[readonly]{
	background-color:#F5F5F5;
}
.it{
	background-color:#F5F5F5;
}
.jy{
	width: 100%;
}
.ys{
	background-color:#F5F5F5;
}
.table .ys{
	background-color:#F5F5F5;
}
.table .bdc{
	border-color: blue;
	background-color:#F5F5F5;
}
.hd{
	background-color: #F1F8FE;
	
}


/*关注授权*/
.content .nav_list .div_header{
	font-size: 15px;
	color: #323232;
	font-weight: 700;
}
.nav_list .h5_title{
	color: #323232;
	cursor: pointer;
}
.nav_list .h5_title > img{
	position: relative;
	top: -5px;
}
.nav_list .ul_list_box{}
.nav_list .ul_list_box li{
	padding: 8px ;
	padding-right: 10px;
	color: #7F8DA0;
}
.nav_list .ul_list_box li span.fr img{
	display: none;
}
.nav_list .ul_list_box li span.fr:hover > span{
	display: none;
}
.nav_list .ul_list_box li span.fr:hover img{
	display: block;
}
/*水利政策法规目录设置*/
.table  #directory{
	width: 85%;
}
.table  #new{
	background-color:#497EEA; 
	width:12%;
	height:30px;
	float: right;
	margin-top: -20px; 
	border-radius: 10px; 
	border:none;
	color:white;
}