.content{
	padding:0 80px 0 40px;
}
.title_box{
	margin: 25px 0 45px 0;
}

.content .title_box .title{
	font-size: 30px;
	font-weight: bold;
	display: inline;
}
.title_all{
	margin-left: 20px;
	border-left:1px solid #000;
	padding-left: 20px;
}
.border-none{
	border: none;
}
.column{
	padding-bottom: 25px;
}
.whole{
	padding-right: 30px;
	padding-left: 5px;
}
.search_box{
	float: right;
}
.search{
	width: 200px;
	height: 25px;
	border-radius: 20px;
	padding-left: 15px;
	border:1px solid #d3dbe6;
}
.pagination .active{
	background: #e0e0e0;
}

/*add css*/


.search_box{
	float: right;
	display: block;
	width: 150px;
	height: 30px;
	border-radius: 20px;
	padding-left: 15px;
	padding-right: 15px;
	border:1px solid #d3dbe6;
	margin-right: 10px;
}
.search_box input{
	width: 100%;
	height: 28px;
	padding: 0px;
	border:none;
	display: block;
}
.search_box select{
	width: 120px;
	height: 28px;
	padding: 0px;
	border:none;
}
.btn_box {
	width: 150px;
	height: 30px;
	border-radius: 20px;
	padding: 0px;
	border:1px solid #d3dbe6;
	margin-right: 10px;
	background-color: #F3F9FE;
	color: #3778EE;
}
.btn_box .btn{
	width: 73px;
	height: 28px;
	border-radius: 20px;
	padding: 0px;
	border:0px solid #d3dbe6;
	text-align: center;
	display: inline;
	background-color: transparent;
	color: inherit;
}
.btn_box .btn:hover{
	background-color: #3778EE;
	color: #FFFFFF;
}
.btn_box .btn.active{
	background-color: #3778EE;
	color: #FFFFFF;
}
.table tr td .btn_cl{
	font-size: 14px;
	display: inline;
	padding: 0px 5px;
	border: 1px solid #397AEE;
	color: #397AEE;
	border-radius:10px;
	text-align: center;
	width: 50px;
}

.table tr td .operation_box{
	display: block;
	width: 60px;
	height: 25px;
	margin: 0 auto;
	position: relative;
}
.table tr td .operation_box .operation_show{
	display: block;
	float: left;
	width: 60px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #CCCCCC;
	border-radius: 13px;
	text-align: center;
	cursor: pointer;
	background-color: #F3F9FE;
}
.table tr td .operation_box .operation{
	position: absolute;
	right: 0px;
	border: 1px solid #CCCCCC;
	border-radius: 13px;
	background-color: #F3F9FE;
	display: none;
}
.table tr td .operation_box .operation .operation_a{
	height: 25px;
	line-height: 25px;
	border-radius: 13px;
	text-align: center;
	display: block;
	float: left;
	cursor: pointer;
}
.table tr td .operation_box:hover .operation_show{
	display: none;
}
.table tr td .operation_box:hover .operation{
	display: block;
}
.table tr td .operation_box .operation .operation_a:hover{
	background-color: #3778EE;
	color: #FFFFFF;
}

.title_box .btn_back {
    background-color: #deebf5;
    border-radius: 13px;
    padding: 0px 8px;
}
.title_box .title_all .back {
    position: relative;
    top: -8px;
}
.input_table tr td.center_center{
	vertical-align: middle;
	text-align: center;
}
.input_table tr td.text_middle{
	vertical-align: middle;
}
.input_table tr td.text_center{
	text-align: center;
}
.input_table tr td.text_left{
	text-align: left;
}
.input_table tr td.text_right{
	text-align: right;
}
.input_table tr td .input{
	padding: 0;
	padding-bottom: 6px;
	box-shadow: none;
	border: none;
	border-radius: 0px;
}
.input_table tr td textarea{
	padding: 0;
	padding-bottom: 6px;
	box-shadow: none;
	border: none;
	border-radius: 0px;
	resize: none;
	display: block;
	width: 100%;
}
.input_table tr td.padding_0{
	padding: 0;
}
.input_table tr td .border_bottom{
	border-bottom: 1px solid #CCCCCC;
}
.bg_yellow{
	background-color: yellow !important;
}
.bg_white{
	background-color: white !important;
}
.bg_red{
	background-color: red !important;
}
.bg_blue{
	background-color: #377af2 !important;
	
}
.bg_tu{
	background-color: #F5F5F5 !important; 
}
.bg_b3{
	background-color: #B3B3B3 !important;
}
.bg_orange{
	background-color: orange !important;
}
.bg_green{
	background-color: green !important;
}
.bg_hui{
	background-color: #f1f8fe !important;
}
.bg_deep_hui{
	background-color: #d3dbe6 !important;
}
.bg_purple{
	background-color: #e099ff !important;
}
.bg_young{
	background-color: #009999 !important;
}
.bg_deep_org{
	background-color: #fb5f53 !important;
}
.bg_shall_org{
	background-color: #feddda !important;
}
.tr_bg_hui td{
	background-color: #f1f8fe !important;
}
.tr_bg_white td{
	background-color: #fff !important;
}
.border_deep_org{
	border: 1px solid #fb5f53 !important;
}
.border_gray{
	border: 1px solid #CCCCCC !important;
}
.border_shall_org{
	border: 1px solid #feddda !important;
}
.border_green{
	border: 1px solid green !important;
}
.border_blue{
	border: 1px solid #377AF2 !important;
}
.text_white{
	color: #fff !important;
}
.text_hui{
	color: #7D8B9E !important;
}
.text_deep_org{
	color: #fb5f53 !important;
}
.text_purple{
	color: #e099ff !important;
}
.text_young{
	color: #009999 !important;
}
.text_blue{
	color: #377af2 !important;
}
.text_yellow{
	color: yellow !important;
}
.text_orange{
	color: orange !important;
}
.text_red{
	color: red !important;
}
.text_green{
	color: green !important;
}
.font-weight{
	font-weight: bold;
}
.width_100{
	width: 100px;
}
.width_120{
	width: 120px;
}
.width_150{
	width: 150px;
}
.width_180{
	width: 180px;
}
.width_200{
	width: 200px;
}
.width_210{
	width: 210px;
}
.width_220{
	width: 220px;
}
.width_230{
	width: 230px;
}
.width_240{
	width: 240px;
}
.width_250{
	width: 250px;
}
.width-10{
	width: 10%;
}
.width-12{
	width: 12.5%;
}
.width-14{
	width: 14.2%;
}
.width-16{
	width: 16.6%;
}
.width-20{
	width: 20%;
}
.width-25{
	width: 25%;
}
.width-30{
	width: 33.3%;
}
.width-50{
	width: 50%;
}
.width-100{
	width: 100%;
}
.width-200{
	width: 200%;
}
.width-300{
	width: 300%;
}
.width-400{
	width: 400%;
}
.width-500{
	width: 500%;
}
.width-600{
	width: 600%;
}
.width-700{
	width: 700%;
}
.width-800{
	width: 800%;
}
.width-900{
	width: 900%;
}
.width-1000{
	width: 1000%;
}
.margin-none{
	margin: 0 !important;
}
.padding-none{
	padding: 0;
}
a{
	color: inherit;
	font-size: inherit;
	text-decoration: none !important;
}

.cursor{
	cursor: pointer;
}
.cursor_important{
	cursor: pointer !important;
}
.btn_type {
	width: 150px;
	height: 23px;
	border-radius: 20px;
	padding: 0px;
	border:1px solid #d3dbe6;
	margin-right: 10px;
	background-color: #F3F9FE;
	color: #3778EE;
	margin-right: 50px;
}
.btn_type .bty{
	width: 49px;
	height: 22px;
	border-radius: 20px;
	padding: 0px;
	border:0px solid #d3dbe6;
	text-align: center;
	display: inline;
	background-color: transparent;
	color: inherit;
}
.btn_type .bty:hover{
	background-color: #3778EE;
	color: #FFFFFF;
}
.btn_type .bty.active{
	background-color: #3778EE;
	color: #FFFFFF;
}