.input_table tr td .input.select_cont{
	padding-right: 20px;
	background: url(../images/drop_down.gif) no-repeat 98%;
}
.input_table tr td .input.calendar_cont{
	padding-right: 20px;
	background: url(../images/date.png) no-repeat 98%;
}
.input_table tr td .input.people_cont{
	padding-right: 20px;
	background: url(../images/mail_list1.png) no-repeat 98%;
}
.input_table tr td .radio_span_box{
	padding: 0px 20px;
	cursor: pointer;
}
.input_table tr td .radio_span_box label{
	cursor: pointer;
}
