/*财务预算*/
.title_box .chart{
	margin-left:190px; margin-top:-33px;position: absolute;
}


.yusu{
	position: relative;
}
.lower{
	width: 80%;
}
.unit{
	position: absolute;right: 10px;top: 18px;margin-top:-10px;
}
/*支付信息录入*/

.table_box .table_edit .ji{
	background-color: #F5F5F5;
}

.r9{
	margin-left:70px;
}
 .table_box .table_edit .differ1{
	position: relative;
	

}
.table_box .table_edit .differ .lower{
	width: 80%;
}
.table_box .table_edit .differ .uni{
	position: absolute;right: 10px;top:79px;
}

/*支付明细*/
.table_box .table_edit .differr{
	position: relative;
}
.table_box .table_edit .differr .lower1{
	width: 80%;
	color:orange;
}
.table_box .table_edit .differr .uni1{
 position: absolute;right: 1px;top:5px;	
}


 .table .td_height .pay{
	outline: none;border: none; text-align: center;
}
 .table .td_height .cl{
 	color:red;
 }
.table .td_height .bg1{
	background-color:#F1F8FE;
}
.table .td_height .bj{
	background-color:#F1F8FE;
}
#form{
	margin-top: -40px;
}

.x9 .table_box{
	margin-top:-14px;
}
.x9 .sou{
	margin-top:-40px;
}


/*支付信息列表页面*/
.relave{
	position: relative;
	float: left;
}
.relave .posi{
	position: absolute;
	left: 100%;
	top: 0px;
	font-size: 12px;
	background-color: #D7DFEA;
	color: #FFFFFF;
	width: 15px;
	text-align: center;
	padding: 5px 0px;
	cursor: pointer;
	z-index: 99;
}
.payment_info{
	border-radius: 5px;
	position: relative;
	border: 1px solid #C0C0C0;
	padding: 8px;
	padding-right: 0px;
	min-height: 450px;
	overflow: hidden;
}

.payment_info .box_item{
	width: 185px;
	height: auto;
}
.payment_info .h3{
	color: #464646;
	font-size: 14px;
	font-weight: 600;
	width: 100%;
	margin: 5px 0px;
}
.payment_info .project_ul{
	list-style: disc;
	width: 100%;
}
.payment_info .project_ul li{
	list-style: disc;
	color: #B5CEFD;
	font-size: 12px;
	font-weight: 300;
	cursor: pointer;
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0px;
	padding-right: 8px;
}
.payment_info .project_ul li:hover{
	color: #4B7EF5;
}
.payment_info .project_ul li:hover .h4{
	color: #4B7EF5;
}
.payment_info .project_ul li:hover .info_box{
	color: #4B7EF5;
}
.payment_info .project_ul li.active{
	color: #4B7EF5;
}
.payment_info .project_ul li.active .h4{
	color: #4B7EF5;
}
.payment_info .project_ul li.active .info_box{
	color: #4B7EF5;
}
.payment_info .project_ul li .h4{
	color: #666666;
	font-size: 12px;
}
.payment_info .project_ul li .info_box{
	color: #666666;
	font-size: 12px;
}
.payment_info .project_ul li .info_box span{
	font-size: 12px;
	margin-right: 10px;
}
.payment_info_right{
	margin-left: 220px;
}
.payment_info_right .table_box{
	display: none;
}
.payment_info_right .table_box.show{
	display: block;
}