
body {
  background-color: #f2f9fd;
}
@font-face {
    font-family: fzqkb;
  	src:url("fzqkb.ttf");
  }

.panel {
  background: #fff;
}
form .form-group:last-child {
  padding-bottom: 0;
}
.passcode {
  position: absolute;
  right: 0;
  top: 0;
  height: 32px;
  margin: 1px;
  border-left: solid 1px #ddd;
  text-align: center;
  line-height: 32px;
  border-radius: 0 4px 4px 0;
}

.lefter {
  position: relative;
  float: left;
  width: 317px;
  /* margin-right: 300px; */
  text-align: center;
  background: #fff;
  height: 90px;
  overflow: hidden;
  box-shadow: 1px 0px 5px 0px #0c0c0c2b;
}
.righter {
  width: 100%;
  background: url(../images/headbj.jpg);
  height: 90px;
}
.mainer {
  margin-left: 317px;
}

/* .logo{border-bottom:solid 1px #b5cfd9;} */

.first-nav li {
  display: inline-block;
}
.first-nav ul {
  display: none;
}
.first-nav ul li {
  float: none;
  display: block;
}
.first-nav ul ul li {
  list-style: circle;
  margin-left: 15px;
}
.first-nav .active a {
  color: #fff;
}
.first-nav .active ul {
  display: block;
  position: fixed;
  left: 0;
  width: 180px;
  margin-top: 41px;
}
.first-nav .active ul a {
  background: transparent;
  color: #333;
  border-radius: 0;
}
.first-nav .active .active a {
  background: #e6f2fb;
  border-top: solid 1px #b5cfd9;
  border-bottom: solid 1px #b5cfd9;
}

.first-bread {
  background: #f2f9fd;
  border-left: solid 1px #b5cfd9;
  border-bottom: solid 1px #b5cfd9;
  line-height: 20px;
}
.first-bread .bread {
  margin-bottom: 0;
}
.first-bread span {
  float: right;
  font-size: 12px;
  color: #666;
  line-height: 36px;
}

.first {
  padding: 30px;
  background: #efefef;
  position: fixed;
  border-left: solid 1px #b5cfd9;
  right: 0;
  bottom: 0;
  top: 90px;
  left: 0;
  overflow: auto;
}
.alert {
  margin-bottom: 20px;
}
.first-panel td {
  line-height: 24px;
}
.first-panel td .button {
  line-height: 16px;
}
.first-panel .pagination .active {
  background: #fff;
}

.firstpanel {
  background: #fff;
  width: 100%;
  height: 310px;
  border-radius: 5px;
  padding: 0 16px;
}
.firstpanel-head {
  height: 45px;
  width: 100%;
  overflow: hidden;
}
.firstpanel-head ul {
  list-style: none;
  padding: 0;
}
.firstpanel-head-bottom {
      border-bottom: 1px solid #ebecf0;
}

.firstpanel-head ul li {
  float: left;
  border-bottom: 2px solid #fff;
  margin-right: 40px;
  font-size: 20px;
  padding-bottom: 6px;
  margin-top: 12px;
  font-family: fzqkb;
  color: #475669;
  cursor: pointer;
}
.firstpanel-head ul .active {
    border-bottom: 2px solid #377af2;
    color: #377af2;
}

.firstpanel-head .float-right .span1 {
  font-size: 14px;
  color: #fff;
  background: #377af2;
  padding: 3px 12px;
  border-radius: 20px;
  display: block;
  margin-top: 18px;
  cursor: pointer;
}
.firstpanel-head .float-right select {
  font-size: 14px;
  color: #fff;
  background: #377af2;
  padding: 3px 32px 3px 12px;
  border-radius: 20px;
  display: block;
  margin-top: 10px;
  border: none;
  appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
}
.firstpanel-head .float-right option {
  background: #fff;
  color: #000;
}
.firstpanel-head .float-right .span3 {
  font-size: 14px;
  color: #fff;
  background: #39c28e;
  padding: 3px 12px;
  border-radius: 20px;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.firstpanel-head .float-right .span4 {
  font-size: 14px;
  color: #377af2;
  background: #f1f8fe;
  padding: 3px 12px;
  border-radius: 20px;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.firstpanel-head .float-right .icon1{
  right: 11px;
  position: relative;
  top: -20px;
  color: #fff;
  float: right;
}
.firstpanel-head .float-right .span2 {
  font-size: 14px;
  color: #fff;
  background: #39c28e;
  padding: 3px 12px;
  border-radius: 20px;
  display: block;
  margin-top: 18px;
  margin-left: 10px;
  cursor: pointer;
}
.firstpanel-body {
  margin-top: 19px;
  height: 222px;
  overflow:hidden;
}
.firstpanel-body .iconfont {
  font-size: 14px;
  margin-right: 5px;
}
.first-food {
  text-align: center;
  color: #475669;
  margin-top: 20px;
  margin-bottom: 0;
}
.firstpanel-body ul {
  list-style: none;
  padding: 0;
}
.firstpanel-body .gonggao li {
 padding-bottom: 5px;
 overflow: hidden;
}
.firstpanel-body .gonggao li:hover div{
  color: #377af2;
 }
 .firstpanel-body .gonggao li:hover i{
  background: #377af2;
 }
.firstpanel-body .gonggao li .dian{
width: 6px;
height: 6px;
background: #d3dbe6;
border-radius: 6px;
position: relative;
margin-top: 8px;
margin-right: 12px;
}
.firstpanel-body .gonggao li div {
  width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #475669;
  margin: 0;
  cursor: pointer;
  
}
.firstpanel-body .gonggao li p {
  color: #999999;
  position: relative;
  top: -4px;
  margin: 0;
  font-size: 12px;
  width: 30%;
  text-align: right;
}

.firstpanel-body .xm7{
  padding-left: 20px !important;
}
.firstpanel-body .xm7 h1{
  font-size: 16px;
  max-width: 60%;
  color: #377af2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.firstpanel-body .xm7 h2{
  font-size: 14px;
  color: #999999;
  padding: 15px 0;
  
}
.firstpanel-body .xm7 p{
  font-size: 14px;
  color: #475669;
  margin-bottom: 24px
  
}
.firstpanel-body .xm7 button{
  background: #e6effd;
  border: none;
  border-radius:10px;
  color: #377af2;
  padding: 2px 13px;
}
.firstpanel-body .xm12{
  padding: 0 !important;
}
.firstpanel-body .xm12 ul {
  list-style: none;
  margin-top: 20px;
}
.firstpanel-body .xm12 ul li{
  height: 40px;
  line-height: 40px;
  font-size: 14px;  
  border-top: 1px dashed #eeeff3;
}
.firstpanel-body .xm12 ul li .float-right{
  color: #999999;
}
.firstpanel-body .xm12 ul li .float-right span{
  background: #e6effd;
  border: none;
  border-radius: 10px;
  color: #377af2;
  padding: 2px 13px;
  margin-left: 25px;
  cursor: pointer;
}
.firstpanel-body .xm12 ul li p{
  margin-bottom: 0 ;
  line-height: 40px;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.firstpanel-body .xm12 ul li p:hover{
 color: #377af2;
}
.fistpanel-shuilizhishi{
  height: 293px;
  padding: 10px !important;
}
.fistpanel-shuilizhishi .shuilizhishi .float-left{
  width: 60%;
  padding-right: 15px;
  border-right: 1px dashed #eeeff3;
}
.fistpanel-shuilizhishi .shuilizhishi .float-right{
  width: 40%;
}
.fistpanel-shuilizhishi .shuilizhishi .float-left img{
  width: 100%;
}
.fistpanel-shuilizhishi .shuilizhishi .float-left p{
  margin: 0;
  color: #666666;
  font-size: 16px;
    font-weight: bold;
    margin-top: 17px;
    float: left;
    width: 70%;
}
.fistpanel-shuilizhishi .shuilizhishi .float-left p span{
  background: #377af2;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 2px 13px;
  margin-left: 25px;
  font-size: 14px;
  float: right;
  position: relative;
  margin-top: -6px;
  cursor: pointer;

}
.fistpanel-shuilizhishi .shuilizhishi .float-left span{
  background: #377af2;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 2px 13px;
  /* margin-left: 25px; */
  font-size: 14px;
  float: right;
  position: relative;
  margin-top: 18px;
  cursor: pointer;
  width: 30%;
  text-align: center
}
.fistpanel-shuilizhishi .shuilizhishi .float-right div{
  margin-left: 14px;
}
.fistpanel-shuilizhishi .shuilizhishi .float-right div h1{
  font-size: 20px;
  font-family: fzqkb;
  color: #377af2;
  padding: 7px 0;
}
.fistpanel-shuilizhishi .shuilizhishi .float-right div ul{
  list-style: none;
  padding: 0;
  margin: 0
}
.fistpanel-shuilizhishi .shuilizhishi .float-right div ul li{
  color: #475669;
  width: 100%;
  padding: 13px 0 0 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fistpanel-shuilizhishi .shuilizhishi .float-right div ul li:hover{
 color: #377af2
}
.fistpanel-shuilizhishi .shuilizhishi .float-right div ul li span{
  color: #377af2;
  background: #e0f1ff;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  display: block;
  float: left;
  margin-right: 10px;
}
.fistpanel-kaoshi{
  height: 293px;
  padding: 18px !important;
  background: #377af2;
}
.fistpanel-kaoshi p{
  font-size: 20px;
  color: #fff;
  font-family:fzqkb; 
}
.fistpanel-kaoshi img{
  width: 71%;
  text-align: center;
  margin: 0 29px;
}
.fistpanel-kaoshi button{
  background: #fff;
  border: none;
  border-radius: 20px;
  color: #377af2;
  padding: 10px 13px;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fistpanel-zhishiditu{
  height: 240px;
}

.firstpanel-body .firstpanel-yewu li{
  float: left;
  background: #f1f8fe;
  width: 48%;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  color: #475669;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.firstpanel-body .firstpanel-yewu li:hover{
  background: #377af2;
  color: #fff;
}
.firstpanel-body .firstpanel-yewu li:nth-child(even){
  margin-left: 4%;
}
.firstpanel-body .firstpanel-yewu li:last-child{
 width: 100%;
}

.firstpanel-body .firstpanel-kuaijie li{
  float: left;
  background: #f1f8fe;
  width: 48%;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  color: #475669;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: none */
}
.firstpanel-body .firstpanel-kuaijie li:hover{
  background: #377af2;
  color: #fff !important;
}
.firstpanel-body .firstpanel-kuaijie li:nth-child(even){
  margin-left: 4%;
}
.firstpanel-body .firstpanel-kuaijie li:last-child{
 width: 100%;
}

.firstpanel-body .firstpanel-ziliao div{
  width: 33.3%;
  float: left;
}
.firstpanel-body .firstpanel-ziliao div p{
  background: #f1f8fe;
  color: #377af2;
  font-size: 16px;
  text-align: center;
  padding: 7px 0;
  border-radius: 30px;
  width: 31px;
    float: left;
    margin: 0;
    line-height: 16px;
    margin-right: 15px;
  }
.firstpanel-body .firstpanel-ziliao div ul{
  float: left;
  width: 70%;
 
}
.firstpanel-body .firstpanel-ziliao div ul li{
  color: #666666;
  line-height: 27px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.firstpanel-body .firstpanel-ziliao div ul li:hover{
  color: #377af2 !important;
  cursor: pointer;
}
#yewu{
  margin-right: 10px;width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select1{
  z-index: 1;
  position: relative;
}
 .select1 select {
  font-size: 16px;
  color: #fff;
  background: #377af2;
  padding: 3px 42px 3px 22px;
  border-radius: 20px;
  display: block;
  margin-top: 10px;
  border: none;
  appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
}
.select1 i{
  position: relative;
  right: 16px;
  top: -20px;
  float: right;
  color: #fff;
}
.select2{
  margin-left: -17px;
  z-index: 0;
}
.select2 select {
  font-size: 16px;
  color: #377af2;
  background: #f1f8fe;
  padding: 3px 34px 3px 37px;
  border-radius: 20px;
  display: block;
  margin-top: 10px;
  border: none;
  appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
}
.select2 i{
  position: relative;
  right: 16px;
  top: -20px;
  float: right;
  color: #377af2;
}
.ul-xingqi{
  list-style: none;
  width: 100%;
}
.ul-xingqi li{
  float: left;
  color: #377af2;
  /* padding: 0 22px; */
  width: 14.2%;
  text-align: center;
}
.ul-riqi{
  list-style: none;

  /* overflow: hidden; */
  width: 100%;
  /* height: 313px; */
}
.ul-riqi li{
  float: left;
  color: #8392a5;
  /* padding: 22px 25px; */
  width: 12%;
  /* height: 12%; */
  border: 1px solid #fff;
  text-align: center;
  border-radius: 100%;
  padding-top: 10px;
  cursor: pointer; 
  margin: 4px 1.1%;
}
.ul-riqi .huisrshang{
  float: left;
  color: #d3dbe6  !important;
  /* padding: 22px 25px; */
  width: 12%;
  /* height: 12%; */
  border: 1px solid #fff;
  text-align: center;
  border-radius: 44px;
  padding-top: 10px;
  cursor: pointer; 
  margin: 4px 1.1%;
}
.ul-riqi .huisrxia{
  float: left;
  color: #d3dbe6  !important;
  /* padding: 22px 25px; */
  width: 12%;
  /* height: 12%; */
  border: 1px solid #fff;
  text-align: center;
  border-radius: 44px;
  padding-top: 10px;
  cursor: pointer; 
  margin: 4px 1.1%;
}
.ul-riqi .jintian{
  background: #377af2 !important;
  color: #fff !important;
  border: 1px solid#fff;
}
.ul-riqi .huise{
  color: #d3dbe6 !important;
  /* border: 1px solid#fff; */
}
.ul-riqi li .span1{
  width: 10px;
  height: 2px;
  background: #f19b57;
  /* background: #f19b57; */
  position: absolute;
  margin-top: 21px;
  margin-left: -13px;
}
.ul-riqi li span2{
  width: 10px;
  height: 2px;
  background: #fff;
  /* background: #f19b57; */
  position: absolute;
  margin-top: 21px;
  margin-left: -13px;
}
.firstpanel-food{
  height: 50%;
}
.shixiang{
  border-top: 1px solid #dbe4ee; 
  height: 100%;
  width: 100%;
  /* padding: 13px 0; */
  overflow-y:auto;
}
.shixiang ul{
  list-style: none;
  padding: 0;
  margin: 0
}
.shixiang ul li{
  width: 100%;
  height: 110px;
  border: none;
}
.shixiang ul .left{
  width: 21%;
  padding-top: 22px;
  /* padding-right: 22px; */
}
.shixiang ul .left span{
  background: #3ac88e;
  border: none;
  height: 23px;
  width: 4px;
  position: relative;
  margin-top: -61px;
  margin-left: 100%;
  border-radius: 10px;
  display: block;
}


.shixiang ul li .p1{
  color: #39c28e;
}
.shixiang ul li h1{
  font-size: 18px;
  color: #8392a5;
}
.shixiang ul .right{
  padding-top: 22px;
  padding-left: 22px;
  border-left: 1px solid #f1f8fe;
  width: 79%;
}
.shixiang ul .right h2{
  font-size: 18px;
  color: #8392a5;
  font-weight: bold;
  /* width: 60%; */
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shixiang ul .right .p2{
  color: #8392a5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shixiang ul .right .buttond{
  
  border: none;
  border-radius: 50px;
  
}
.shixiang ul .right .buttond .btn1{
  color: #fff;
  background: #377af2;
  border: none;
  border-radius: 50px;
  padding: 2px 13px;
  position: relative;
  cursor: pointer;
}
.shixiang ul .right .buttond .btn2{
  color: #377af2;
  background: #f1f8fe;
  border: none;
  border-radius: 50px;
  padding: 2px 15px 2px 30px;
  margin-left: -16px;
  cursor: pointer;
}
.shixiang ul .right .buttond .btn2 i{
  margin-left: 14px;
  color: #8392a5;
}
.shixiang ul .right .buttond .btn3{
  margin-top: 10px;
  background: #377af2;
  color: #fff;
  width: 45px;
  height: 45px;
  border: none;
  padding: 10px;
  text-align: center;
  display: block;
  border-radius: 100%;
  font-size: 16px;
}
.shixiang .title {
  overflow: hidden;
  width: 100%;
}
.shixiang .title span{
  color: #8392a5;
  right: 0;
  float: right
}
.firstpanel-body .ditu{
  background: url(../images/xuxian.png)no-repeat;
  width: 100%;
  height: 220px;
  background-position-y: 20%;
  background-size: 100%;
}
.firstpanel-body .ditu .img1{
  margin-left: 8%;
  margin-top: 3%;
  position: absolute;
  width: 13%;
}
.firstpanel-body .ditu .img2{
  position: absolute;
  margin-left: 38%;
  margin-top: 12%;
  width: 13%
}
.firstpanel-body .ditu .img3{
  position: absolute;
  right: 12%;
  top: 32%;
  width: 13%;
}