*{margin: 0;}
ul li{list-style: none;}
/*新增工作日志*/

.right_box{
	width: 64%;
	height: 360px;
	border: 1px solid #d4dbe6;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	overflow-y: auto;
}
.text_bc{
	width: 123px;
	height: 35px;
	background: #377AF2;
	color: #fff;
	border-radius: 30px;
	float: right;
	text-align: center;
	line-height: 35px;
	margin: 20px 50px 0 0;
	border: 0;
}
.details_box{
	width: 100%;
	height: 100%;
}
.left_box{
	width: 26%;
	height: 500px;
	border: 1px solid #d4dbe6;
	margin-right: 20px;
	float: left;
	margin: 20px 20px 0 20px;
}
.height_400{
	height: 360px;
}
.left_box img{
	margin: 20px auto;
    display: block;
}
.left_box div{
	background: #377AF2;
	border-radius: 30px;
	width: 160px;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	display: block;
	margin: 0 auto;
}
.upper_right{
	width: 64%;
	height: 500px;
	float: left;
	margin-top: 20px;
	overflow-x:hidden;overflow-y:auto
}
.color_blue{color: #377AF2;}
.color_black{color: #000;}
.color_hui{color: #999999;}
.fl{float: left;}
.fr{float: right;}
.right_top{width: 99%;height: 190px;border: 1px solid #d3dbe6;overflow: hidden;margin-bottom: 15px;}
.right_top .top_title{width: 100%;height: 35px;line-height: 35px;padding-left: 10px;}
.textarea_box{width: 100%;height: 155px;}
.top_content{width: 100%;height: 100%;overflow-x:hidden;resize:none}
.spot_box{width: 70px;height: 22px;border:1px solid #377AF2;border-radius: 30px;padding-left: 10px;float: right;margin-left: 15px;padding-top: 1px;cursor: pointer;}
.spot_box span{font-size: 16px;color: #377AF2;line-height: 22px;}
.edit_box{width: 99%;height: 75px;border: 1px solid #C6CDD8;float: left;margin-top: 20px;resize:none}
.dz_people{width: 95%;background: #F1F8FE;float: left;padding-left: 20px;line-height: 30px;}
.pl_img{margin: 15px 0 5px 20px;}
.dz_img{margin: 35px 0 10px 20px;}
.comment_box{width: 95%;height: 30px;background: #F1F8FE;float: left;padding-left: 20px;line-height: 30px;}
.comment_time{float:right;margin-right: 20px;}
.center_box button{float: right;margin: 15px 5px 0 0 ;width: 70px;height: 22px;border:1px solid #377AF2;border-radius: 30px;text-align: center;background: #fff;color: #377af2;}


.editor_script{width: 100%;height: 100%;}
