ul li{
	list-style: none;
}
.title_box input{
	width: 150px;
	height: 25px;
	border: 1px solid #d3dbe6;
	border-radius: 40px;
	padding-left: 15px;
}
.tr_height tr td{
	height: 140px;
}
.vertical_align{
	vertical-align:middle !important;
}
.td_cont{
	height: 70px;
	width: 100%;
	margin-top: 10px;
	line-height: 23px;
	overflow: hidden;
}
.spot_box img{
	margin:5px 5px 2px 20px;
}
.plus_but{
	margin: 5px 0 0 0;
}
.add_log_box li{
	width: 14%;
	height: 340px;
	float: left;
	border: 1px solid #d3dbe6;
	padding: 18px 8px 12px 10px;
}
/*.add_log_box li:last-child{*/
	/*border:1px solid #377AF2;*/
/*}*/
.li_cont{
	text-align: center;
	vertical-align:middle;
	width: 100%;
	height: 65%;
	margin-top: 30px;
	overflow: hidden;
}
.add_log_box .week{
	margin-left: 5px;
}
.add_log_box .week,.date{
	color: #8c8c8c;
}
.li_cont img{
	margin-top: 80px;
}
.tr_height tr:hover td .dain{display: none;}
.tr_height tr:hover td .hide{display: block;}
/*.tr_height tr:hover td{border: 1px solid #377AF2;}*/
.tr_height tr td .hide{display: none;cursor: pointer;}
.title_box .title_all .back {position: relative;top: -3px;}
.bottom_30{margin-bottom: 50px;}
.nav_box{padding-top: 40px;}
.nav_box img{width: 15px;height: 15px;position: absolute;margin: 4px 0px 0 -30px;}
