.bg_transparent{
	background-color: transparent !important;
}
.tongji_box{
	text-align: center;
	
}
.tongji_box tr th{
	text-align: center;
}
.tongji_box tr td{
	height: 100px;
	text-align: center;
	vertical-align: middle;
}
.printing_box {
    margin-top: 16px;
}
.height_150{
	height: 150px;
}
.calendar_table_box tbody tr td .rela{
	padding-top:15px ;
	
}
.calendar_table_box tbody tr td .rela .information{
	border: none;
	color: #464646;
}
