/*@font-face {
	font-family:华文中宋;
	src: url(hwzs.ttf);
}
@font-face {
	font-family:仿宋;
	src: url(fs.TTF);
}*/
.box_right .parint_box{
    text-align: right;
    padding-bottom: 10px;
}
.review_box{
	width: 794px;
	height: 1123px;
	/*height: 1223px;*/
	/*background: pink;*/
	margin: 0 auto;
} 
.review_box .box_left{
	width: 6%;
	height: 100%;
	float: left;
	border-right: 1px dashed #cf857c;
	margin-left: 17px;
}
.review_box .box_left tr td{
	/*width: 40%;*/
	letter-spacing:20px;
	text-align: center;
	height: 100%;
	color: #cf857c;
	line-height: 40px;
	vertical-align: middle;
}
.review_box .box_right{
	width: 90%;
	float: right;
	height: 100%;
}
.review_box .table_left{
	float: left;
	border-collapse: collapse; 
	border-color: #CF857C;
	/*border: 1px solid #cf857c;*/
}
.review_box .table_left tr td{
	width: 140px;
	height: 50px;
	text-align: center;
	color: #cf857c;
	border:1px solid #CF857C; 
	font-family: "仿宋";
	/*font-family: fs;*/
	vertical-align: middle;
}
.review_box .table_right{
	float: right;
	width: 300px;
	text-align: center;
	line-height: 35px;
	/*border: 1px solid #cf857c;*/
	border-collapse: collapse; 
	border-color: #CF857C;
}
.review_box .table_right tr td{
	color: #cf857c;
	border:1px solid #CF857C; 
	font-family: "仿宋";
	/*font-family: fs;*/
}
.review_box .table_top{
	width: 100%;
	float: right;
}
.review_box .table_top tr td{
	vertical-align: middle;
	text-align: center;
	color: #cf857c;
	font-size: 50px;
	font-weight: 500;
	line-height: 90px;
	letter-spacing: 4px;
	font-family: "华文中宋";
	/*font-family: hwzs;*/
	zoom: 90%;
}
.review_box .table_bottom{
	width: 100%;
	float: right;
	height: 78.36%;
	border-collapse: collapse; 
	border-color: #CF857C;
	
}
.review_box .table_bottom tr td{
	text-align: center;
	border:1px solid #CF857C; 
	padding-left: 20px;
	vertical-align: middle;
	font-weight: bold;
}
.review_box .table_bottom tr td.padding0{
	padding: 0px;
}
.review_box .hei_100{height: 7.123%;}
.review_box .hei_200{height: 16.02%;}
.review_box .hei_180{height: 16.02%;}
.review_box .hei_170{height: 15.13%;}
.review_box .letter{letter-spacing: 20px;font-family: "华文中宋";/*font-family: hwzs;*/font-size: 19px;}
.review_box .cbf{width: 33%;float: left;font-family: "仿宋";/*font-family: fs;*/font-weight: 700;}
.review_box .cbf span{font-size: 16px;}
/*.review_box .zbh{width: 33%;float: left;text-align: center;}
.review_box .tel{width: 33%;float: left;text-align: right;}*/
.review_box .box_right .cbf_input{
	width: 98%;
	height: 98%;
	border: none;
	outline:none;
    font-size: 20px;
    font-family: 仿宋;
    font-weight: 500;
    overflow: hidden;
}
.review_box .box_right .cbf_input.height50{
	height: 46%;
}
.review_box .box_right .cbf_input.text-center{
	text-align: center;
}
.review_box .box_right .zbh_input{
	width: 50%;
	height: 98%;
	border: none;
	outline:none;
	font-size: 16px;
}
.review_box .box_right textarea{
	width:95%;
	height: 90%;
	float: left;
	resize:none;
	border: none;
	outline:none;
    font-size: 20px;
    font-family: 仿宋;
    font-weight: 500;
    overflow: hidden;
}
.review_box .bz_input{width: 100%;height: 40px;clear: both;line-height: 30px;}
.review_box .bz_input input{
	width: 120px;
	/*border: 1px solid red;*/
}
.review_box .box_right .table_left tr td select{
	width: 95%;
	height: 96%;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	outline: none;
	border: none;
	padding-left: 5px;
}





/*选择提交部分*/
.a3_div_box .xz_table .needed{
	height:4%;font-size:14px;
}
.a3_div_box .xz_table .needed .want{
	width:30%;background-color:#F1FAFF;
	padding: 20px 0px;
}

.a3_div_box .xz_table .needed  .need-sth .answer{
	width:25%;
	text-align: left;
	margin-left:20px;
}

.a3_div_box  .refer{
	margin-top:15px;text-align: center;
}
.a3_div_box  .refer .bt-refer{
	width:160px;
	background-color:#4A81ED;
	border:0;
	height:40px;
	border-radius: 20px;
	color:white;
}
.a3_div_box .xz_table{
	width: 100%;
	height: 100%;
	/*margin: 0 auto;*/
	border: 1px solid #CF857C;
	text-align: center;
	font-family: "仿宋";
	/*font-family: fs;*/
}
.a3_div_box .xz_table tr td{
	border-top: 1px solid #CF857C;
	border-right: 1px solid #CF857C;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}
.settin_box{
	box-sizing: content-box;
	width: 20%;
	height: 100%;
	padding-right: 20%;
	background: url(../images/mail_list1.png) no-repeat right;
	background-size: 15px 15px;
	cursor: pointer;
	margin-left:20px;
	border-bottom: 1px solid #ddd;
}

/*签收状态*/
.sign_table{width: 100%;border: 1px solid #CF857C;border-collapse: collapse; border-color: #CF857C;margin-bottom: 20px;}
.sign_table tr td{width:25%;height: 60px;text-align: center;vertical-align: middle;padding: 10px 15px;color: #CF857C;border: 1px solid;}
.sign_table tr td input{width: 99%;height: 100%;outline:none;border: 0;}


/*
 * 附件说明
 */
.xz_table .needed .fjsm{
	padding-left: 20px ;
}
.xz_table .needed .float-left{
	margin-top: 5px;
	margin-right: 10px;
}
.xz_table .needed .float-left .btn_span{
    color: #4E80F6;
    border: 1px solid #4E80F6;
    background-color: #F3F9FE;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 2em;
    font-size: 14px;
}