/*修改密码*/
.change_pass .table_width{
	width: 30%;
}
.change_pass .change_button{
	width: 160px;
	height: 40px;
	background: #377AF2;
	border: 0;
	border-radius: 30px;
	margin-top: 40px;
	color: #fff;
}
/*个人资料*/
.per_submission{
	border: 0;
	width: 85px;
	height: 35px;
	background: #377af2;
	color: #fff;
	text-align: center;
	line-height: 35px;
	border-radius: 30px;
	margin-top: 15px;
}
.per_modify{
	border: 1px solid #377AF2;
	background: 0;
	width: 85px;
	height: 35px;
	color: #377af2;
	text-align: center;
	line-height: 35px;
	border-radius: 30px;
	margin-top: 15px;
}
.content{
	margin-bottom: 40px;
}
.personal_information{
	height: 150px;
}
.personal_information .per_header{
	float: left;
	margin-right: 20px;
	width: 110px;
	height: 110px;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	margin-left: 20px;
	line-height: 100px;
}
.personal_information .per_header img{
	width: 90px;
	height: 90px;
}
.personal_information .per_text{
	line-height: 110px;
}
.input_weight{
	width: 70% !important;
	float: left;
}
.border_0{
	border: 0;
}
