a{
	color: inherit;
}
a:hover{
	color: inherit;
}
p{margin-bottom: 5px !important;}
.content_box{
	background-color: #F1F1F2;
	width: 100%;
}
.wrapper{
	width: 100%;
	height: 100%;
	padding: 10px;
}
.wrapper .cont_top{
	/*height: calc(100% - 90px) !important;
	min-height: 750px;*/
	height: 750px;
	
}
.wrapper .cont_bottom{
	font-size: 14px;
    text-align: center;
    color: #475669;
    height: 80px;
    line-height: 90px;
    
}
.bg_white{
	background-color: #FFFFFF;
	border-radius: 10px;
}

.wrapper .cont_top .box_content{
	height: 100%;
}
.wrapper .cont_top .cont_left{
	width: 64%;
	margin-left: 2%;
	
}
.wrapper .cont_top .cont_left .cont_box_top{
	width: 100%;
	height: 49%;
	margin-bottom: 2%;
}
.wrapper .cont_top .cont_left .cont_box_top .cont_box_left{
	width: 64%;	
	height: 100%;
	overflow: hidden;
}
.wrapper .cont_top .cont_left .cont_box_top .cont_box_right{
	margin-left: 66%;
	height: 100%;
	display: block;
	overflow: hidden;
}
.wrapper .cont_top .cont_left .cont_box_top .cont_box_right .h_48{height: 48px;}
.wrapper .cont_top .cont_left .cont_box_top .cont_box_right .table tr td{border: none;}
.wrapper .cont_top .cont_left .cont_box_top .cont_box_right .span_blue{color: #207FFC;padding-right: 5px;}
.wrapper .cont_top .cont_left .cont_box_bottom{
	width: 100%;
	height: 49%;
	overflow: hidden;
}
.wrapper .cont_top .cont_right{
	display: block;
	margin-left: 68%;
}
.text-orange{
	color: #f7ba2b;
}
.text-orange a{color: inherit;}


/*选项卡*/
.tab_title{
	width: 100%;
	padding: 0px 15px;
}
.tab_title ul{
	padding:0px;
	margin: 0px;
}
.tab_title ul li{
	list-style: none;
	display: block;
	float: left;
	padding: 10px 7px;
	/*padding-right: 15px;*/
	font-size: 20px;
}
.tab_title ul li.active{
	color: #207FFC;
	border-bottom: 2px solid #207FFC;
}
.tab_title ul li.fr_blue{
	float: right;
	background-color: #3778EE;
	color: #FFFFFF;
	border-radius: 2em;
	padding: 2px 5px;
	font-size: 14px;
	position: relative;
	top: 12px;
}
.tab_title ul li.fr_green{
	float: right;
	background-color: #37C18E;
	color: #FFFFFF;
	border-radius: 2em;
	padding: 2px 5px;
	font-size: 14px;
	position: relative;
	top: 12px;
}
.tab_box{
	width: 100%;
	display: block;
	padding: 0px 15px;
}





.tab_box .table td{border-top: 0;}
/*右侧日程完成情况*/
.wrapper .cont_top .cont_right{
	padding: 10px;
}
.wrapper .cont_top .cont_right .terminkalender_top{
	width: 100%;
	height: 50%;
	border-bottom: 1px solid #CCCCCC;
}
.wrapper .cont_top .cont_right .terminkalender_bottom{
	width: 100%;
	height: 50%;
	overflow: hidden;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc{
	margin-bottom: 20px;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_left{
	padding-top: 10px;
	width: 80px;
	float: left;
	display: block;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_left h2{
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #7F8DA0;
	font-weight:200 ;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_left h2 span{
	display: block;
	height: 90%;
	width: 5px;
	position: relative;
	top: 5%;
	right: -1px;
	z-index: 9;
	border-radius: 3px;
	background-color: #CCCCCC;
	float: right;
}

.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_left p{
	font-size: 14px;
	color: #999999;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc.green .list_left h2 span{
	background-color: #37C18E;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc.green .list_left p{
	color: #37C18E;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc.orange .list_left h2 span{
	background-color: #f7ba2b;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc.orange .list_left p{
	color: #f7ba2b;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc.blue .list_left h2 span{
	background-color: #3778EE;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc.blue .list_left p{
	color: #3778EE;
}

.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_right{
	padding-top: 10px;
	margin-left:81px;
	border-left: 1px solid #f0f0f0;
	padding-left: 10px;
	overflow: hidden;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_right h2{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 20px;
	font-weight: 700;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_right h2 span{
	width: 90px;
	display: block;
	float: right;
	text-align: left;
	font-size: 14px;
	font-weight: 200;
	color: #999999;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_right p{
	color: #999999;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_right > div{
	border-radius: 2em;
	background-color: #F3F9FE;
	padding: 1px;
	overflow: hidden;
	float: left;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_right > div > a{
	border-radius: 2em;
	background-color: transparent;
	padding: 2px 12px;
	float: left;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_right > div > a.active{
	background-color: #3778EE;
	color: #FFFFFF;
}
.wrapper .cont_top .cont_right .terminkalender_bottom .list_rc .list_right > div > a.active.add_btn{
	background-color: #3778EE;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 700;
	width: 30px;
	height: 30px;
	line-height: 28px;
	border-radius: 50%;
	display: block;
	text-align: center;
	padding: 0px;
}



/*日历*/
.terminkalender_top{
	
}
.terminkalender_top .soso_box{
	height: 40px;
}
.terminkalender_top .soso_box input{
	box-sizing: border-box;
	color: #FFFFFF;
	padding: 2px 12px;
	border-radius: 2em;
	text-align: center;
	border: none;
	background-color: #3778EE;
	cursor: pointer;
}
.terminkalender_top .soso_box input.button{
	padding: 2px 12px;
	border-radius: 2em;
	text-align: center;
	border: none;
	background-color: #F3F9FE;
	float: right;
	color: #3778EE;
}

.terminkalender_top .date_box .table{
	margin-top: 15px;
}
.terminkalender_top .date_box .table tr th{
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	border: 0px solid transparent;
}
.terminkalender_top .date_box .table tr td{
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	border: 0px solid transparent;
}
.terminkalender_top .date_box .table tr th{
	color: #3778EE;
}
.terminkalender_top .date_box .table tr td .date_span {
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid transparent;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	margin: 0 auto;
}
.terminkalender_top .date_box .table tr td.bg_tu .date_span {
	color: #999999;
}
.terminkalender_top .date_box .table tr td.active .date_span {
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #3778EE;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	margin: 0 auto;
}