.process_table tr td.border_top_none{
	border-top:none ;
}
.process_table tr td .btn_cl{
	border-color: #CCCCCC;
	padding: 0 10px;
}
.process_table tr td:first-child + td{
	border-right: 1px solid #F2F2F2;
	position: relative;
}
.process_table tr td:first-child + td:after{
	content: "";
	position: absolute;
	top: 50%;
	height: 100%;
	border-left: 1px solid #CCCCCC;
    left: 30.5px;
    z-index: -1;
}
.process_table tr.after_border_none td:first-child + td:after{
	display: none;
}
.process_table{
	border: 1px solid #CCCCCC;
}
.process_table tr:hover td{
	color: #377af2;
}
