.border{
	border-radius: 50px;
	border-color:blue;
	text-align:center;
}
.archivist{
	width:15px;
   height:15px;
}
.bdtj{
	margin-top: -20px;
}
.related{
	cursor: pointer;
}
/*关联到案卷*/
*{margin: 0;}
.box{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.select_text{
	width: 100%;
	height: 45px;
	line-height: 55px;
	padding-left:10px;
}
.serial_number{
	width: 15px;
	height: 15px;
	font-size: 12px;
	line-height: 15px;
}
.related_but{
	width: 125px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #377AF2;
	color: #fff;
	margin: 30px 10px 0 0;
	border: none;
	border-radius: 30px;
	cursor: pointer;
}
