/*个人空间*/
.shixiang .title{
	margin: 0;
}
.shixiang .title span{
	font-size: 14px;
	font-weight: 400;
}
.line-big .tab .tab-body{
	border-top: 0px solid  #ddd;
}
.line-big .firstpanel-head ul li.active a{
	color: #377af2;
	border: 0px;
	border-bottom: 2px solid #377af2;
	padding: 5px 0px;
}
.line-big .firstpanel-head ul li a{
	border: 0px;
	padding: 5px 0px;
}
.line-big img.gd{
    position: relative;
    top: -5px;
    left: 6px;
}
.line-big .select2{
	margin-left: 0px;
	position: relative;
}
.line-big .gd_datatime{
	position: absolute;
	right: 10px;
    top: 20px;
}
	
.line-big .shixiang ul .right .buttond .btn3{
	font-size: 20px;
	color: #FFFFFF;
	line-height: 21px;
}
.line-big .ul-riqi li{
	padding: 0px;
	position: relative;
}

.line-big .ul-riqi li .span1{
	position: absolute;
    bottom: 2px;
    left: 25%;
    display: block;
    width: 50%;
    margin: 0px;
}


/*单位空间*/


.line-big .firstpanel-body{
	height: auto;
}
