.tab{
	margin-top:35px;
}
.tab .tab-head li a{
	border: none;
}

.tab .tab-body{
	margin-top:1px;
	border-bottom:1px solid #d3dbe6;
}
.tab .tab-nav .active {
    background-color: #f3f9fe;
}
.list_box{
	border-bottom: 1px dashed #d3dbe6;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 15px;
}
.tab-body .tab-panel .list_box:last-child{border-bottom: none;}
.list_box div{
	float: left;
}
.list_box .company{
	margin-left: 40px;
	margin-right: 310px;
}
.list_box .date{
	margin-right: 60px;
}
