.content {
    padding: 0px 40px 0 40px;
}
.table-bg-none tr td{
	background-color: #FFFFFF;
}
.table-bg-none tr{
	background-color: #FFFFFF;
}
.content .line-small{
	position: relative;
	display: block;
	width: 100%;
}
.content .line-small .x3{
	border: 1px solid #CCCCCC;
	padding: 5px;
}
.content .line-small .x3 .degree_box{
	border-radius: 10px;
	background-color: #F3F9FE;
	color: #3778EE;
	padding: 0px 6px;
}
.content .line-small .x3 .degree_box > span{
	cursor: pointer;
}
.content .line-small .x3 .urgent_state{
	padding: 0px 6px;
	border-radius: 10px;
	background-color: #4176F6;
	color: #FFFFFF;
}
.content .line-small .x9{
	border: none;
	padding-left: 15px;
}
.content .nav_list{
	border-bottom: 1px solid #CCCCCC;
    margin-top: 10px;
}
.content .nav_list:last-child{
	border: none;
}
.content .nav_list .h5{
	font-size: 16px;
	font-weight: 500;
	color: #3C4B5D;
	padding: 5px 0px;
}
.content .nav_list > div{
	margin: 10px 0px;
	font-size: 14px;
	color: #7F8DA0;
}
.content .nav_list .span_left{
	display: block;
	float: left;
}
.content .nav_list .block_span{
	display: block;
    width: 90%;
    margin-left: 10%;
}
.content .nav_list .block_summ{
	display: block;
	width: 80%;
	margin-left: 23%;
}
.title_box  .title_all .back{
	position: relative;
    top: -8px;
}
.title_box  .btn_back{
	background-color: #deebf5;
	border-radius: 13px;
	padding: 0px 8px;
}

.printing_box{
	margin-top: 16px;
}
.printing_box label{
	padding-left: 30px;
}
.printing_box .whole{
	padding: 0px;
}


/*table*/
.table_edit{}
.table_edit tr{}
.table_edit tr td{
	/*padding: 0px;*/
	height: 40px;
	vertical-align: middle;
	text-align: center;
	color: #262626;
	font-size: 14px;
}
.table_edit tr td input[type=text]{
	display: block;
	width: 100%;
	height: 98%;
	padding-left: 5px;
	border: none;
	outline: none;
	border-radius: 0px;
	background-color: transparent;
}
.table_edit tr td select{
	display: block;
	width: 100%;
	height: 98%;
	padding-left: 5px;
	border: none;
	outline: none;
	border-radius: 0px;
	background-color: transparent;
}
.table_edit tr td textarea{
	display: block;
	width: 100%;
	height: 98%;
	padding-left: 5px;
	border: none;
	outline: none;
	border-radius: 0px;
	background-color: transparent;
	resize: none;
}
.table_edit tr td .border-bottom{
	border-bottom: 1px solid #CCCCCC;
}
.table_edit tr td input.border-bottom{
	border-bottom: 1px solid #CCCCCC;
}
.table_edit tr td.border-bottom-none{
	border-bottom: none;
}
    
.table_edit tr td.bg-hui{
	background-color: #F3F9FE;
}
.table_edit tr td.text-left{
	text-align: left;
	padding-left: 10px;
}
.table_edit tr td.text-center{
	text-align: center;
}
.table_edit tr td.text-right{
	text-align: right;
}
.table_edit tr td.border-blue{
	border-color: #397AF0;
}
.table_edit tr td.padding-big-left{
	padding-left: 20px;
}
.table_edit tr td.padding-big-right{
	padding-right: 20px;
}

.table_edit tr td .type_box{
	margin-right: 15px;
	cursor: pointer;
}
.table_edit tr td .type_box label{
	cursor: pointer;
}
.table_edit tr td .label_box{
	float: left;
    padding: 0px 10px;
    border: 1px solid #cccccc;
    border-radius: 13px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
   
}

.table_edit tr td .label_box .close_img_label{
	width: 12px;
    height: 12px;
    position: relative;
    right: -6px;
    top: -4px;
    cursor: pointer;
    
}
.table tr td .span_doc_box span{
    display: block;
    margin-right: 15px;
    margin-top: 10px;
    float: left;
}
.table tr td.zdy_span_box span{
	display: block;
	height: 21px;
	float: left;
}
.zdy_span_box #explain{
	width: 100%;
	height: 160px;
}
.table tr td.zdy_span_box span.zdy_box{
	width: 120px;
	height: 21px;
	display: none;
}
.table tr td.zdy_span_box span.show{
	display: block;
}
.table tr td .zdy_box select{
	width: 100%;
	height: 100%;
}
.setting_box{
	box-sizing: content-box;
	width: 80%;
	height: 100%;
	padding-right: 20%;
	background: url(../images/add_an.png) no-repeat right 90%;
	background-size: 15px 15px;
	cursor: pointer;
}
.button_sub{
	padding: 8px 30px;
	background-color: #4E80E8;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 20px;
	margin: 20px 0px;
	float: right;
}
.button_sub.bg-red{
	background-color: #EC5851;
	margin-right: 10px;
}
.button_sub.bg-yellow{
	background-color: #ECBA52;
	margin-right: 10px;
}
.reset{
	background-color: transparent;
	color: #4E80E8;
}
.often_box{
	position: relative;
}
.often_box .often_btn{
	position: absolute;
	bottom: 5px;
	right: 20px;
	border: 1px solid #3A7AEE;
	color: #3A7AEE;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 27px;
	font-size: 16px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #FFFFFF;
}


