.details_content{
	line-height: 25px;
	text-indent: 2em;
}

.table_edit .details_content div{
	border-radius: 30px;
	text-align: center;                                               
	width: 168px;
	height: 44px;
	line-height: 44px;
	text-indent: 0;
}
.table_edit td span{
	margin-right: 20px;
}
.table_edit{
	margin-bottom: 50px;
}
.interlacing{
	border: 1px solid #d3dbe6;
	
}
.interlacing tr{
	line-height: 30px;
}
.cont_nav{
	margin-bottom: 20px;
} 
.cont_nav .one{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #377AF2;
	color: #fff;
	text-align: center;
	font-size: 12px;
	float: left;
	margin-right: 5px;
	margin-top: 2px;
	line-height: 15px;
}
.cont_nav .line{
	width: 90%;
	height: 1px;
	border: 1px solid #377af2;
	margin: -10px 0px 0px 85px;
}
.catalog .catalog_ul li{
	border-bottom: none;
}
.catalog .catalog_ul li.active{
	color: #3A4D5D;
}
.catalog .catalog_ul li.active .left{
	background-color: #fff;
	border-color: #ccc;
	color: #475764;
}

.catalog .catalog_ul li span{
	color: #475764;
}

.catalog .catalog_ul li:hover .left {
    background-color: #FFFFFF;
    color: #475764;
    border-color: #CCCCCC;
}
.catalog .catalog_ul li:hover .right {
    color: #475764;
}

/*案卷信息*/
.serial_number{width: 18px;height: 18px;border: 1px solid #d3dce5;border-radius: 50%;font-size: 12px;text-align: center;line-height: 16px;margin-top: 6px;}


/*新增会议督办*/
.content .supervise_box{
	width: 85% !important;
	margin: 0 auto;
}


.x9 .dyxx{
	 width:85%; margin-left: 120px;;
}