.tips_box{
	width: 20%;
	height: 195px;
	border: 1px solid #d7dee8;
	border-radius: 5px;
	float: left;
	margin:0 30px 0 50px;
	padding: 25px 25px 0 15px;
}
.tips_box .tips_text{
	text-indent: 2em;
	margin-top: 15px;
	color: #8392a5;
	line-height: 24px;
}
.table_pass th{
	text-align: center;
	background: #f1f8fe;
	border: 1px solid #d3dbe6;
}
.table_pass td{
	background: #fff;
}
.table_pass .big_title{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.table_pass input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #d3dbe6;
}
/*说明*/
.explain{
	color: #377af2;
	font-size: 12px;
	margin: 10px 0 40px 0;
	margin-left: 27%;
}
.add_text{
	margin-right: 7%;
	
}
