/*水利政策法规*/
.hgys{
	height:250px;
}
.mn{
	position: relative;
}
.mn #mz{
	 position: absolute;
	 margin-left: 320px;
	 top: 20px;
}
#search{
	position: absolute;
	top: 10px;
	right: 0;
}
.hgc{
	height:150px;
}
.nr{
	margin-top: 40px;
}
#ment{
	width:750px; 
	height:400px;
	 border:1px solid #cccccc; 
	 margin-left: 60px; 
	 border-top:3px solid blue;
}
.whie{
	margin-top: 20px;
}
.whie .eo  h4{
	margin-top: 10px;
}
.fj{
	margin-top:25px;
}
.fj .explo{
	border:1px solid #cccccc;
	 padding:0 10px;
	 border-radius: 10px; 
}
/*积分明细*/
.barch{
	height:410px;
}
/*积分规则*/
.pool{
	outline: none;
	border: none;
	border-bottom: 1px solid #999999; 
	width:100%;
}
 .cont_nav #xian{
	width:93%;
}
.score{
	border-radius: 0px;  outline: none;border: none;border-bottom: 1px solid #999999;
}
 .table .wealth{
	border-radius: 0px;
}
