.edit_header{
	width: 100%;

}
/*select::-ms-expand{
	display: none;
}*/
.edit_header .word_ul{
	list-style: none;
	padding: 0px;
	background-color: #F3FAFF;
	box-shadow: 0px 0px 18px -2px inset #CBE5FA;
}
.edit_header .word_ul .word_li{
	float: left;
	border-left: 1px solid #CBE5FA;
	min-height: 80px;
	padding-top: 15px;
	box-sizing: content-box;
	padding-left: 10px;
}
.edit_header .word_ul .word_li .block_div{
	float: left;
}
.edit_header .word_ul .word_li .block_div > h6{
	color: #BBBBBB;
	margin-bottom: 10px;
	font-size: 14px;
}
.edit_header .word_ul .word_li .block_div > .word_btn_box{
	margin-right: 10px;
	padding: 0px;
}
.edit_header .word_ul .word_li .block_div > .word_btn_box .btn_an.bg-blue{
	background-color: #4E80E8;
}
.edit_header .word_ul .word_li .block_div > .word_btn_box .btn_an.bg-green{
	background-color: #33B686;
}
.edit_header .word_ul .word_li .block_div > .word_btn_box .btn_an{
	display:inline-block;
	outline: none;
	border: none;
	text-align: center;
	color: #BBBBBB;
	padding: 5px 20px;
	background-color: #FFFFFF;
}
.edit_header .word_ul .word_li .block_div > .word_btn_box .btn_an:hover{
	background-color: #33B686;
	color: #FFFFFF;
}
.edit_header .word_ul .word_li .block_div > .word_btn_box .btn_an a{
	color: inherit;
}
.edit_header .word_ul .word_li .block_div > .word_btn_box .btn_an.select_change{
	padding-right: 30px;
	background: url(../images/drop_down.gif) no-repeat 95%;
	background: url() no-repeat 95% \9;
	padding-right: 15px \9;

}
